# OS / エディタ
.DS_Store
.vscode/
.idea/

# Node
node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# ビルド/出力
build/
dist/
.vercel/

# 環境ファイル
.env
.env.*
*.sqlite
server/database.sqlite

# 作業用
.git_backup/
backup.dump
backup.dump
